<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快道应用管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
</head>
<body>
<div id="wrap">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header header-demo">
            <div class="layui-main">

                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>{$Think.session.userID}</cite>
                        </a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="">修改密码</a></dd>
                            <dd><a id="logout" href="#">退出登录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree">
                    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon" style="top: 3px;">&#xe631;</i><cite>应用</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="{:U('Kwd/index')}" target="ContentBox">关键词覆盖查询</a></dd>
                            <dd><a href="{:U('Deadlink/index')}" target="ContentBox">死链检测</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon" style="top: 3px;">&#xe637;</i><cite>历史</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="{:U('Kwd/history')}" target="ContentBox">关键词覆盖查询</a></dd>
                            <dd><a href="{:U('Deadlink/history')}" target="ContentBox">死链检测</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon" style="top: 3px;">&#xe628;</i><cite>工具箱</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" target="ContentBox">待开发</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!--<div id="ContentBox">
                <div class="mainBox">
                    <div id="chart"></div>
                </div>
            </div>-->
            <iframe frameborder="0" src="{:U('Index/main')}" id="ContentBox" name="ContentBox"></iframe>
        </div>
    </div>
</div>

</body>
<script src="__PUBLIC__/js/jquery-1.8.0.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>

<script>
    layui.use(['element','layer'],function(e,l){
        $('#logout').on('click',function(){
            l.confirm('退出登录?',function(){
                $.post('{:U("Home/Login/logout")}',function(r){
                    if(r === 0){
                        l.msg('退出成功');
                        setTimeout(function(){
                            self.location.href = '{:U("Home/Login/login")}'
                        },1000)

                    }else if(r === -2){
                        l.msg('退出登录失败【未知错误】')
                    }else{
                        l.msg('还有这种操作?')
                    }
                },'json')
            })
        });

    })
</script>
</html>


